body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(12, 12, 150);
    background-color: aqua;
    width: 50%;
}

p {
    color: blueviolet;
    font-family: Arial;
}

.parrafo {
    color: white;
    font-family: sans-serif;
}